.who-we-are-container{
    background-color: #0B0C5C;
    .who-we-are-preview{
        direction: rtl;
        color: #fff;
        h1{
            font-size: 28px;
        }
        p{
            font-size: 22px;
            width: 80%;
        }
    }
}

@media screen and (max-width: 680px){
    .who-we-are-container {
        .who-we-are-preview{
            margin-top: 3rem;
            p{
                width: 100%;
                text-align: center;
                margin-top: 3rem;
            }
            h1{
                width: 100%;
                text-align: center;
            }
        }
        .who-are-you-img{
            width: 100%;
        }
    } 
}