.job-success-container{
    background-color: #F4E6D4;
    padding: 1rem 2rem 3rem;
    text-align: center;
    h1{
        margin: 2rem 0rem 3rem;
    }
    .cards-preview{
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        h2{
            font-size: 20px;
            font-weight: bold;
            margin: 0px;
        }
        h4{
            font-size: 20px;
            font-weight: 500;
            margin: 1rem 0px;
        }
    }
    .cards-img{
        padding: 0rem 1rem;
        display: flex;
        justify-content: flex-start;
    }
    .card{
        padding: 1rem 0rem;
    }
    .job-success-img-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 90%;
        }
    }
}

@media screen and (max-width: 680px){
    .job-success-container{
        padding: 1rem 1rem 2rem;
        .job-success-img-container{
            display: flex;
            justify-content: center;
            img {
                width: 100%;
            }
        }
        .job-success-container  {
            h1{
                margin: 2rem 0rem;
            }
        }
        .cards-preview{
            text-align: center ;
            h2{
                width: 100%;
            }
        }
        .cards-img{
            justify-content: center;
        }
    }
}