.abotu-steps-container{
    text-align: right;
    background-color: #F4E6D4;
    padding: 0rem 8rem 1rem;
    h1{
        font-size: 35px;
        color: #0B0C5C;
        margin: 0px;
        padding: 4rem 0rem 0rem;
        font-weight: bolder;
    }
    .about-step-preview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        padding: 1rem;
        height: 100%;
        position: relative;
        h3{
            font-size: 26px;
            color: #0B0C5C;
            margin: 1rem 0rem;
            font-weight: bold;
        }
        p{
            color: #0B0C5C;
            font-weight: 300;
            font-size: 22px;
            margin: .5rem 0rem;
        }
    }

    .about-step-image{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img{
            width: 70%;
            object-fit: contain;
        }
    }
    .about-steps-image-controll-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img{
            width: 70%;
            object-fit: contain;
        }
    }
    .about-steps-controll-container{
        flex-direction: row-reverse !important;
        align-items: center ;
        img{
            width: 70%;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 900px){
    .abotu-steps-container {
        padding: 0rem 0.5rem 1rem;
        h1{
            padding: 2rem 0rem 0rem;
            text-align: center;
        }
        .about-step-image {
            img{
                width: 100%;
                height: auto;
            }
        }
        .about-steps-controll-container {
            img{
                width: 100%;
               height: auto;
           }
        }
        .about-steps-image-controll-container{
            img{
                 width: 100%;
                height: auto;
            }
        }
    }
    .about-step-preview{
        height: auto !important;
        p,h3{
            text-align: center;
        }
    }
}
